.combo {
  margin-top: 5px;
  margin-bottom: 15px;
  height: 20%;
}

.col {
  text-align: left;
}

* {
  box-sizing: border-box;
}

.img-comp-container {
  position: relative;
}

.img-comp-img {
  position: absolute;
  width: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #ff6666;
  opacity: 0.7;
  border-radius: 50%;
}
